.button-container {
    display: flex; // 버튼 컨테이너를 flexbox로 설정
    justify-content: center; // 버튼을 중앙 정렬
    margin-top: 20px; // 버튼 상단 여백

    button {
        background-color: #fafafa; // 버튼 배경색
        border: none; // 테두리 없음
        padding: 10px 20px; // 기본 패딩
        border-radius: 5px; // 둥근 모서리
        cursor: pointer; // 마우스 커서 변경
        font-size: 14px; // 기본 폰트 사이즈
        transition: background-color 0.3s ease; // 배경색 변화 애니메이션
        width: 100%; // 버튼을 가로로 늘림
        gap:10px;
        

        &:hover {
            background-color: #e1ebe2; // 마우스를 버튼 위에 올렸을 때 배경색 변경
        }
    }
}

// 반응형 디자인
@media (max-width: 768px) {
    .button-container {
        button {
            padding: 15px; // 모바일에서 패딩을 조절
            font-size: 14px; // 폰트 사이즈 유지
            height: 20px; // 버튼의 세로 길이를 고정
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .button-container {
        button {
            font-size: 12px; // 더 작은 화면에서 폰트 사이즈 감소
            height: 40px; // 버튼의 세로 길이를 고정
        }
    }
}
