.logo-container {
  display: flex;
  flex-direction: column; /* 이미지를 위에, 텍스트를 아래에 배치 */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%); 
}

.logo {
  width: 300px;
  opacity: 0;
  animation: fadeInScale 1.5s forwards;
}

.logo-text {
  margin-top: 10px; 
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  animation: fadeInScale 1.5s forwards; 
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
